.about-content {
    position: absolute;
    left: 40%;
    margin-top: 80px;
    margin-right: 200px;
    color: var(--black, #323232);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.github-link {
    position: absolute;
    margin-top: 80px;
    margin-right: 150px;
    right: 60%;
    text-align: center;
    color: var(--black, #323232);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.github-link img {
    width: 200px;
}

.github-link span {
    display: block;
}