.text-banner {
    color: var(--black, #323232);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0;
}

.sort-options {
    color: var(--black, #323232);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 80px;
}

.article {
    border-radius: 15px;
    background: var(--grey, #F6F6F6);
    height: 140px;
    background-image: url('images/Document_icon.svg');
    background-repeat: no-repeat;
    padding: 5px 65px 5px 160px;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

.article-title {
    color: var(--black, #323232);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-meta {
    color: var(--black, #323232);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
    margin-right: 10px;
    display: inline;
    vertical-align: middle;
}

.article-meta:first-child {
    margin-left: 0px;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}

.authors {
    color: var(--black, #323232);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abstract {
    color: var(--black, #323232);
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    /* Max number of lines */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-sidebar {
    position: absolute;
    right: 15px;
    top: 15px;
    text-align: center;
}

.article-sidebar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-link {
    color: var(--dark-blue, #2951E0);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0 0 0;
    padding: 0;
    user-select: auto;
}

.article-sidebar > input {
    display: none;
}

.article-sidebar > input + label {
    content: url('images/like_outline.svg');
    cursor: pointer;
}

.article-sidebar > input:checked + label {
    content: url('images/like.svg');
}

.next-page {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: min-content;
    min-width: max-content;
}

/* Removes underline from links */
a {
    text-decoration: none;
    color: inherit;
}

.page-button {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background: var(--dark-grey, #E4E4E4);
    color: var(--black, #323232);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    border: none;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    display: inline;
    cursor: pointer;
}

.next-page > a {
    margin-right: 7.5px;
    margin-left: 7.5px;
}


#current-page {
    background: #616161;
    color: var(--white, #FBFBFB);
}
