body {
    margin: 0;
    background-color: var(--white);
    /* Background image stuff */
    background-image: url("images/Background_graphic.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 110%;
}

.login-dialog-box {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    background: var(--white, #FBFBFB);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    /* Makes it exactly 600px by 400px with padding and border */
    box-sizing: border-box;
    padding-top: 20px;
}

.dialog-title {
    color: var(--black, #323232);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 25px;
    margin-bottom: 5px;
}

.form {
    text-align: left;
    /* Centering horizontally */
    width: min-content;
    margin: 0 auto;
}

.form label {
    color: var(--black, #323232);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.form input {
    width: 250px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--black, #323232);
    margin-top: 8px;
    background-color: var(--white);
    padding: 5px;
    /* Makes it exactly 250px by 40px with border and padding */
    box-sizing: border-box;
    /* Font stuff */
    color: var(--black, #323232);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
}

/* Removes underline from links */
a {
    text-decoration: none;
}

.blue-button, #login_submit, #sign_up_submit, #interests_submit {
    width: 120px;
    height: 35px;
    border-radius: 8px;
    background: var(--blue, #0094FF);
    text-align: center;
    color: var(--white, #FBFBFB);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    /* Centering */
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.blue-button:active, #login_submit:active, #sign_up_submit:active, #interests_submit:active {
    background-color: #6ec3ff;
}

#login_submit {
    margin-top: 30px;
}

#sign-up-button {
    margin-top: 13px;
}

#sign_up_submit {
    margin-top: 36px;
}

#interests_submit {
    margin-top: 25px;
}

.dialog-text {
    color: var(--black, #323232);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.banner-text {
    color: var(--black, #323232);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 75px;
}

.chip-row {
    margin: 0 auto;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.chip-row label input {
    display: none;
}

.chip-row label input + span {
    display: inline-flex;
    padding: 5px 20px;
    /* Change cursor to make it feel like a button */
    cursor: pointer;
    border-radius: 20px;
    background: var(--orange, #FF5C00);
    /* Cannot select text */
    user-select: none;
    color: var(--black, #323232);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 18px;
}

.chip-row label input:checked + span {
    color: var(--white);
    background-color: var(--black);
}