{% extends "logged_in_navbar.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
{% block main %}
<a class="github-link" href="https://github.com/Adam-Mazur" target="_blank">
    <img src="{{ url_for('static', filename='images/github.png') }}">
    <span>Link to the code</span>
</a>
<div class="about-content">
    <h1> Overview </h1>
    This is a simple vector space recommender system based on td-idf that retrieves the most recent AI/machine learning papers from the arXiv website and sorts them by their similarity to the papers that you've liked. Project inspired by <a href="https://github.com/karpathy">Andrej Karpathy's</a> <a href="https://arxiv-sanity-lite.com/">arxiv-sanity-lite</a> and this <a href="https://users.ics.forth.gr/~potamias/mlnia/paper_6.pdf">paper</a>.
    <h1> Architecture </h1>
    The profile vectors are computed from the PDFs of the papers rather than just their abstracts. The background scheduler sends requests to the arXiv API every 24 hours, bacause the review process operates in daily cycles. Users' profile vectors are updated with a fixed constant when a new paper is liked. The website is powered by Flask, and uses <a href="https://scikit-learn.org/stable/">scikit-learn</a> for td-idf computations.   
    <h1> Upcoming updates </h1>
    <ul>
        <li>Email newsletter</li>
        <li>Summarizing papers with generative AI</li>
        <li>Finding similar articles</li>
        <li>Reading lists</li>
    </ul>
</div>
{% endblock %}