{% extends "logged_in_navbar.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
{% endblock %}
{% block main %}
<div class="header">
    <span class="text-banner">
        Top results from last
        <div class="dropdown">
            <button class="dropdown-button">
                <u class="text-banner">{{ time_options[time] }}</u>
                <img class="dropdown-icon-big" src="{{ url_for('static', filename='images/arrow-drop-down-big.svg') }}"> 
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('home_page', page=current_page, time=0, sort=sort) }}">{{ time_options[0] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=1, sort=sort) }}">{{ time_options[1] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=2, sort=sort) }}">{{ time_options[2] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=3, sort=sort) }}">{{ time_options[3] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=4, sort=sort) }}">{{ time_options[4] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=5, sort=sort) }}">{{ time_options[5] }}</a>
                <a href="{{ url_for('home_page', page=current_page, time=6, sort=sort) }}">{{ time_options[6] }}</a>
            </div>
        </div>
    </span>
    <span class="sort-options">
        Sort by 
        <div class="dropdown">
            <button class="dropdown-button">
                <span style="font-weight: 700;" class="sort-options">{{ sort }}</span>
                <img class="dropdown-icon-small" src="{{ url_for('static', filename='images/arrow-drop-down-small.svg') }}"> 
            </button>
            <div class="dropdown-content dropdown-content-small">
                <a href="{{ url_for('home_page', page=current_page, time=time, sort='Relevance') }}">Relevance</a>
                <a href="{{ url_for('home_page', page=current_page, time=time, sort='Date') }}">Date</a>
            </div>
        </div>    
    </span>
</div>
{% for paper, relevance in zip(papers, relevances) %}
<div class="article">
    <span class="article-title">{{ paper.title }}</span>
    <span class="authors">
        {{ paper.authors }}
    </span>
    <p class="abstract">
        {{ paper.abstract }}
    </p>
    <div>
        <span class="article-meta">{{ paper.updated_date | display_date }}</span>
        {% if relevance > 0.1 %}
        <div class="indicator" style="background-color: #FF0D0D;"></div>
        {% elif relevance > 0.05 %}
        <div class="indicator" style="background-color: #FF4E11;"></div>
        {% elif relevance > 0.02 %}
        <div class="indicator" style="background-color: #FF8E15;"></div>
        {% elif relevance > 0.01 %}
        <div class="indicator" style="background-color: #FAB733;"></div>
        {% elif relevance > 0.005 %}
        <div class="indicator" style="background-color: #ACB334;"></div>
        {% else %}
        <div class="indicator" style="background-color: #69B34C;"></div>
        {% endif %}
        <span class="article-meta">Relevance</span>

    </div>
    <div class="article-sidebar">
        <input type="checkbox" id="{{ paper.id }}" class="like-button" {% if current_user in paper.users%} checked {% endif %}>
        <label for="{{ paper.id }}"></label>
        <ul>
            <li class="sidebar-link"><a href="{{ paper.site_link }}" target="_blank">Site</a></li>
            <li class="sidebar-link"><a href="{{ paper.pdf_link }}" target="_blank">PDF</a></li>
        </ul>
    </div>
</div>
{% endfor %}
{% if papers|length == 0 %}
<span style="margin: auto;">
    No papers found
</span>
{% endif %}
<div class="next-page">
    {% if page_number_1 != 1 %}
    <a href="{{ url_for('home_page', page=1, time=time, sort=sort) }}">
        <button class="page-button">
            {{ 1 }}
        </button>
    </a>
    ...
    {% endif %}
    <a href="{{ url_for('home_page', page=page_number_1, time=time, sort=sort) }}">
        <button class="page-button" {% if current_page == page_number_1 %} id="current-page" {% endif %} >
            {{ page_number_1 }}
        </button>
    </a>
    {% if number_of_pages >= 2 %}
    <a href="{{ url_for('home_page', page=page_number_2, time=time, sort=sort) }}">
        <button class="page-button" {% if current_page == page_number_2 %} id="current-page" {% endif %}>
            {{ page_number_2 }}
        </button>
    </a>
    {% endif %}
    {% if number_of_pages >= 3 %}
    <a href="{{ url_for('home_page', page=page_number_3, time=time, sort=sort) }}">
        <button class="page-button" {% if current_page == page_number_3 %} id="current-page" {% endif %}>
            {{ page_number_3 }}
        </button>
    </a>
    {% endif %}
</div>
<script>
    like_buttons = document.getElementsByClassName('like-button');
    for (let button of like_buttons) {
        button.addEventListener('change', (event) => {
            fetch('/', {
                method: 'POST',
                body: JSON.stringify({[button.id]: button.checked}),
                headers: new Headers({'content-type': 'application/json'}),
            });
        })
    }
</script>
{% endblock %}