<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_page_styles.css') }}">
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <title>GradientDigest</title>
</head>
<body>
    <ul class="navbar">
        <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}">
        <form action="/" method="POST">
            <input type="text" id="search" name="search" placeholder="Search">
        </form>
        <li class="navbar-element">About</li>
        <li class="navbar-element">Logout</li>
    </ul>
    <div class="main">
        <div class="header">
            <p class="text-banner">
                Top results from last week
            </p>
            <p class="sort-options">
                Sort by <span style="font-weight: 700;">Popularity</span>
            </p>
        </div>
        <div class="article">
            <div class="title-row">
                <span class="article-title">Using Content-Based Filtering for Recommendation</span>
                <span class="article-meta">April 2014</span>
                <div class="indicator" style="background-color: #FF7A00;"></div>
                <span class="article-meta">Relevance</span>
                <div class="indicator" style="background-color: #00B612;"></div>
                <span class="article-meta">Popularity</span>
            </div>
            <span class="authors">
                Robin van Meteren and Maarten van Someren
            </span>
            <p class="abstract">
                Finding information on a large web site can be a difficult and time-consuming process. Recommender systems can help users find information by providing them with personalized suggestions. In this paper the recommender system PRES is described that uses content-based filtering techniques to suggest small articles about home improvements. A domain such as this implicates that the user model has to be very dynamic and learned from positive feedback only. The relevance feedback method seems to be a good candidate for learning such a user model, as it is both efficient and dynamic.
            </p>
        </div>
    </div>
</body>
</html>