{% extends "navbar.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
{% endblock %}
{% block body %}
<p class="banner-text">
    Stay updated with latest ML research 
</p>
<div class="login-dialog-box">
    <h1 class="dialog-title">Login</h1>
    <form action="/" method="POST" class="form">
        <label for="email" class="text-field-label">Email</label><br>
        <input type="text" id="email" name="email" class="text-field"><br>

        <div style="padding-top: 25px;"></div>

        <label for="password" class="text-field-label">Password</label><br>
        <input type="text" id="password" name="password" class="text-field">
    </form>
    <button class="blue-button" id="login-button">Login</button>
    <div style="padding-top: 35px;"></div>
    <p class="dialog-text">
        Don’t have an account yet?
    </p>
    <button class="blue-button" id="sign-up-button">Sign up</button>
</div>
{% endblock %}