{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_user.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='new_user_navbar.css') }}">
{% endblock %}
{% block body %}
<ul class="navbar">
    <a href="/" class="logo-link">
        <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}">
    </a>
    <a href="{{ url_for('about') }}" class="navbar-element">
        <li>About</li>
    </a>
    <a href="{{ url_for('logout_interests') }}" class="navbar-element">
        <li>Logout</li>
    </a>   
</ul>
<div class="main">
    <p class="banner-text">
        Stay updated with latest ML research 
    </p>
    <div class="login-dialog-box">
        <span class="dialog-title">Tell us about yourself</span>
        <div style="padding-top: 47px;"></div>
        <p class="dialog-text">
            What areas of research are you interested in?
        </p>
        <div style="padding-top: 20px;"></div>
        <form action="/interests" method="POST">
            <div class="chip-row">
                <label>
                    <input type="checkbox" name="{{ interests_form[0] }}" id="{{ interests_form[0] }}">
                    <span>{{ interests_form[0] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[1] }}" id="{{ interests_form[1] }}">
                    <span>{{ interests_form[1] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[2] }}" id="{{ interests_form[2] }}">
                    <span>{{ interests_form[2] }}</span>
                </label>
            </div>
            <div class="chip-row">
                <label>
                    <input type="checkbox" name="{{ interests_form[3] }}" id="{{ interests_form[3] }}">
                    <span>{{ interests_form[3] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[4] }}" id="{{ interests_form[4] }}">
                    <span>{{ interests_form[4] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[5] }}" id="{{ interests_form[5] }}">
                    <span>{{ interests_form[5] }}</span>
                </label>
            </div>
            <div class="chip-row">
                <label>
                    <input type="checkbox" name="{{ interests_form[6] }}" id="{{ interests_form[6] }}">
                    <span>{{ interests_form[6] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[7] }}" id="{{ interests_form[7] }}">
                    <span>{{ interests_form[7] }}</span>
                </label>
            </div>
            <div class="chip-row">
                <label>
                    <input type="checkbox" name="{{ interests_form[8] }}" id="{{ interests_form[8] }}">
                    <span>{{ interests_form[8] }}</span>
                </label>
                <label>
                    <input type="checkbox" name="{{ interests_form[9] }}" id="{{ interests_form[9] }}">
                    <span>{{ interests_form[9] }}</span>
                </label>
            </div>
            <input id="interests_submit" name="interests_submit" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}
