{% extends "new_user.html" %}
{% block dialog %}
<span class="dialog-title">Login</span>
<form action="/" method="POST" class="form">
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email"><br>

    <div style="padding-top: 25px;"></div>

    <label for="password">Password</label><br>
    <input type="text" id="password" name="password">
</form>
<button class="blue-button" id="login-button">Login</button>
<div style="padding-top: 35px;"></div>
<p class="dialog-text">
    Don’t have an account yet?
</p>
<a href="{{ url_for('sign_up') }}">
    <button class="blue-button" id="sign-up-button">Sign up</button>
</a>
{% endblock %}