{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_user_navbar.css') }}">
{% block stylesheet %}
{% endblock %}
{% endblock %}
{% block body %}
<ul class="navbar">
    <a href="/" class="logo-link">
        <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}">
    </a>
    <a href="{{ url_for('about') }}" class="navbar-element">
        <li>About</li>
    </a>
    <a href="{{ url_for('login') }}" class="navbar-element">
        <li>Login</li>
    </a>
    <a href="{{ url_for('sign_up') }}" class="navbar-element">
        <li>Sign up</li>
    </a>   
</ul>
<div class="main">
{% block main %}
{% endblock %}
</div>
{% endblock %}