{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_user_styles.css') }}">
{% endblock %}
{% block body %}
<ul class="navbar">
    <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}">
    <li class="navbar-element">About</li>
    <a href="{{ url_for('login') }}">
        <li class="navbar-element">Login</li>
    </a>
    <a href="{{ url_for('sign_up') }}">
        <li class="navbar-element">Sign up</li>
    </a>   
</ul>
<div class="main">
    <p class="banner-text">
        Stay updated with latest ML research 
    </p>
    <div class="login-dialog-box">
    {% block dialog %}{% endblock %}
    </div>
</div>
{% endblock %}